.env
/node_modules/*
/logs/*
about.png
background.png
crystal.png
donate.png
events.png
introductions.png
rules.png
supportapps.png
karuxvelo.code-workspace
assets/img/welcome.jpg
assets/img/cards/card1.jpg